<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Magic Gallery</title>
    <link rel="stylesheet" href="css/styles.css">
    <!-- <link rel="stylesheet" href="https://kit.fontawesome.com/ee9f372be6.css" crossorigin="anonymous"> -->
    <!-- <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css"> -->
 
    <div class= "topnav">
        <div class="container">
            <a href ="/"><button type="button" class="button-menu">Home</button></a>
        </div>
        <!-- <div class="container">
            <a href ="/artists"><button type="button" class="button-menu">Artists</button></a>
        </div> -->
        <div class="container">
            <a href ="/media"><button type="button" class="button-menu">media</button></a>
        </div>
        <div class="container">
            <a href ="/contactus"><button type="button" class="button-menu">Contact Us</button></a>
        </div>
        <div class="container">
            <a href ="/newPost"><button type="button" class="button-menu">New Post</button></a>
        </div>
        <!-- <input type= "text" placeholder= "Search..." class= "searchBar"> -->
    </div>
</head>

<body>