

<%- include ("./partials/_header") %>

<marquee class="marquesina"><h1 class="loop" >¡Bienvenidos! Welcome! Bienvenue! Willkommen! Benvenuto! Velkommen! Witamy! Vitaj! 
  Welkom! Nau mai! Ter vetuloa! Benvingut! Bem-vinda! Croeso!
</h1></marquee>

  <div>
    <section>
      <img src="https://media.admagazine.com/photos/618a6acacc7069ed5077ca7c/master/pass/69052.jpg" alt="imagen 1">
      <img src="https://upload.wikimedia.org/wikipedia/commons/b/b6/Sebastiano_Ricci_002.jpg" alt="imagen 2">
      <img src="https://www.caracteristicass.de/wp-content/uploads/2022/02/caracteristicas-del-arte-contemporaneo.jpg" alt="imagen 3">
      <img src="https://historia.nationalgeographic.com.es/medio/2018/06/25/nacimiento-de-venus_68281108_1280x803.jpg" alt="imagen 4">
      <img src="https://media.admagazine.com/photos/618a69ee90c4ec9a52ca1264/16:9/w_2656,h_1494,c_limit/71578.jpg" alt="imagen 5">
    </section>
  </div>

  <div>
    <section>
      <img src="https://media.meer.com/attachments/3a8840c888aafb1bee1dfae64d42984dc9ac6b5d/store/fill/1090/613/12a7fb9ca8b5a049b80eb391386afe4858f4555f510e2d3086e68f1694bc/La-ultima-cena-1495-1498.jpg" alt="imagen 1">
      <img src="https://e00-elmundo.uecdn.es/assets/multimedia/imagenes/2019/05/02/15567874171654.jpg" alt="imagen 2">
      <img src="https://cdn0.unprofesor.com/es/posts/3/4/2/la_virgen_de_las_rocas_1483_1486_2243_0_600.jpg" alt="imagen 3">
      <img src="https://sobrehistoria.com/wp-content/uploads/2017/08/errores-que-no-conocias-de-las-obras-mas-famosas-de-arte-Bar-Folies-Bergere.jpg" alt="imagen 4">
      <img src="https://theartwolf.com/wp-content/uploads/2021/05/Eugene_Delacroix_-_La_liberte_guidant_le_peuple_-_thumbnail-600x400.jpg" alt="imagen 5">
    </section>
  </div>

  <div>
    <h1 class="nombre"> Magic Gallery</h1>
  </div>

  <div class="contenedor">
    <div class="mision">
      <h2 class="titulo">Misión</h2>
      <p><span class="ms">Nuestra mision es promover el arte mundialmente, para que las personas puedan conocer mas
          acerca de el y que puedan apreciar las obras de los artistas.</span>
      </p>
    </div>
    <div class="vision">
      <h2 class="titulo">Visión</h2>
      <p><span class="vs">Crear una galeria de arte digital que sea reconocida mundialmente, para que de aqui a dentro de
          10 años podamos ser la galeria de arte mas popular y en la cual las personas vengan a promocionar sus obras.
          Para lograrlo, contamos con un equipo de trabajo que se encarga de la parte de diseño y programacion de la pagina web,
          para que sea lo mas atractiva posible y que los usuarios puedan navegar de manera facil y sencilla.</span>
      </p>
    </div>
  </div>


<%- include ("./partials/_footer") %>
    

